@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 
}
body{
  background-color: blueviolet;
}

.menu-header{
  height: 50px;
  background-color: rgba(137, 43, 226, 0.788);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabela{
  background-color: #6d4a8e93;
  text-align: center;
  margin:50px 20px;

}

.tabela-titulo{
  background-color:  #45634F;
  border: 1px solid black;
}
.linha-titulo{
  width: 22.5%;
}
.coluna-id{
  width: 10%;
}
.borda-tabela{
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.linha-cont{
  width: 22.5%;
  height: 40px;
}
.linha-id{ 
  background-color: #45634F;
  border-left: 1px solid black;
}
.teste{
  background-color: rgba(255, 255, 255, 0.103);
}